.chat-box {
    font: normal normal 11px/1.4 Tahoma, Verdana, Sans-Serif;
    color: #333;
    width: 200px;
    /* Chatbox width */
    border: 1px solid #344150;
    border-bottom: none;
    background-color: white;
    position: fixed;
    right: 10px;
    bottom: 0;
    z-index: 9999;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    border: 1px solid #cccccc;
    border-bottom: none;
}

.chat-box > input[type="checkbox"] {
    display: block;
    margin: 0 0;
    padding: 0 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 26px;
    z-index: 4;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.chat-box > label {
    display: block;
    height: 24px;
    line-height: 24px;
    background-color: #344150;
    color: white;
    font-weight: bold;
    padding: 0 1em 1px;
}

.chat-box .chat-box-content {
    padding: 10px;
    display: none;
}


/* hover state */

.chat-box > input[type="checkbox"]:hover + label {
    background-color: #404D5A
}


/* checked state */

.chat-box > input[type="checkbox"]:checked + label {
    background-color: #212A35
}

.chat-box > input[type="checkbox"]:checked ~ .chat-box-content {
    display: block
}

.chat-box .chat-box-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.chat-box .chat-box-content ul > li {
    border-bottom: 1px solid #ccc;
}

.chat-box .chat-box-content ul > li:last-child {
    border: none;
    margin: 0;
}

.chat-box .chat-box-content ul > li a {
    text-decoration: none;
    color: #000;
    font-size: small;
    font-weight: normal;
}

.chat-box .chat-box-content ul > li > span.green {
    background-image: url('https://cdn4.iconfinder.com/data/icons/fugue/icon/status.png');
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.chat-box .chat-box-content ul > li > span.yellow {
    background-image: url('https://cdn4.iconfinder.com/data/icons/fugue/icon/status-away.png');
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.chat-box .chat-box-content ul > li > span.red {
    background-image: url('https://cdn4.iconfinder.com/data/icons/fugue/icon/status-busy.png');
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.chat-box .chat-box-content ul > li > span.gray {
    background-image: url('https://cdn4.iconfinder.com/data/icons/fugue/icon/status-offline.png');
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.chat-box .chat-box-content ul > li > span.mobile {
    background-image: url('https://cdn2.iconfinder.com/data/icons/fugue/icon/mobile_phone.png');
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

#chat-box-sendMsg {
    right: 220px;
    width: 300px;
    display: none;
}

#chat-box-sendMsg .chat-box-content textarea {
    height: 90px;
    width: 280px
}

#chat-box-sendMsg .chat-box-content input[type="text"] {
    width: 280px
}

#chat-box-sendMsg span.chat-close {
    display: block;
    background-image: url('https://cdn4.iconfinder.com/data/icons/fugue/icon/cross-button.png');
    position: absolute;
    height: 16px;
    width: 16px;
    top: 4px;
    right: 4px;
    z-index: 10;
}

.chat-karart {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 25px;
    display: none;
}

.chat-info {
    position: absolute;
    font-size: medium;
    color: white;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    display: none;
}

#chat-search {
    height: 20px;
    margin: 8px 0 0 0;
    display: none;
}

.chat-tabs-parent {
    text-align: center;
    margin-bottom: 6px;
}

.chat-tab {
    padding: 5px 8px;
    margin: 0 2px;
    background-color: #ECF0F1;
    cursor: pointer;
}

.icon-add-friend {
    width: 16px;
    height: 16px;
    background-position: 0 -32px !important;
}

.icon-remove-friend {
    width: 16px;
    height: 16px;
    background-position: -320px -32px !important;
}

p.clear{
    display: none;
    margin: 0;
    padding: 0;
}
